*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-image: url("img/full.jpg");
}
h1, h2, h3 {
    font-family: cursive;
}

.articles-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article-container {
    padding: 50px;
    width: 33.33%;
    background-color: black;
    text-align: center;
    border: 1px solid black;
    font-family: cursive;
}
