{% extends 'base.html.twig' %}

{% block metatitle %}
    Suppression d'article
{% endblock metatitle %}

{% block main %}

    <section class="articles-container">

        <article class="article-container">
            Vous avez supprimé l'article {{ article.title }}
        </article>

    </section>

{% endblock main %}