{% include "partials/_header.html.twig" %}

<main>

    <section class="articles-container">

            <article class="article-container" style=color:{{ article.color }}>
                <h3>{{ article.title }}</h3>
            </article>

    </section>

</main>
{% include "partials/_footer.html.twig" %}