{% extends 'base.html.twig' %}

{% block metatitle %}
    Aticle mis à jour
{% endblock metatitle %}

{% block main %}

    <section class="articles-container">

        <article class="article-container">
            Vous avez bien modifié l'article: {{ article.title }}
        </article>

    </section>

{% endblock main %}