{% extends 'base.html.twig' %}

{% block metatitle %}
    {{ article.title }}
{% endblock metatitle %}

{% block main %}

    <section class="articles-container">

            <article class="article-container" style=color:{{ article.color }}>
                <h3>{{ article.title }}</h3>
            </article>

    </section>

{% endblock main %}