{% extends 'base.html.twig' %}

{% block metatitle %}
    Creation de catégorie
{% endblock metatitle %}

{% block main %}

    <section class="articles-container">

        <article class="article-container">
           Vous avez bien créé la categorie: {{ category.title }}
        </article>

    </section>

{% endblock main %}