{% extends 'base.html.twig' %}

{% block metatitle %}
    Suppression de categorie
{% endblock metatitle %}

{% block main %}

    <section class="articles-container">

        <article class="article-container">
            Vous avez supprimé la categorie {{ category.title }}
        </article>

    </section>

{% endblock main %}