{% extends 'base.html.twig' %}

{% block metatitle %}
    Modification de catégorie
{% endblock metatitle %}

{% block main %}

    <section class="articles-container">

        <article class="article-container">
            Vous avez bien édité la categorie: {{ category.title }}
        </article>

    </section>

{% endblock main %}